body {
    background-color: #eee !important;
}

small, .gray { 
    color: gray !important; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
}
h2, h3 {
    font-size: 2em;
    margin-top: 40px; 
}
h4, h5, h6 { 
    font-size: 1.3em;
    margin-top: 40px; 
}
p, div, th, td { 
    font-family: Arial; /*Times New Roman;*/
    font-size: 16px;
}
th, td {
    vertical-align: top;
    padding: 5px;
}

.day, .age {
    padding: 3px 8px;
    color: #888 !important;
    display: inline-block;
    margin: 10px;
}
.day {
    background-color: #bee6f3 !important;
    border-radius: 3px;
    border: 1px solid #abd2de;
    font-size: 0.9em;
}
.age {
    font-size: 0.8em;
    margin-left: 0;
}

.message { 
    position: relative;
    background-color: white !important;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 1px 10px;
    padding: 5px 8px;
    display: inline-block;
}
.message .id {
    font-size: 0.5em;
    color: gray !important;
}
.message.new {
    margin-top: 8px;
}

img.emojione {
    height: 1em; 
    max-height: 1em;
    display: inline-block;
    margin-top: -3px;
}
.only-emoji img.emojione {
    margin-top: 0;
}

.image_broken, .yt_broken {
    color: darkred !important;
}
/*
.yt_platzhalter {
    color: darkblue; 
}
.yt_platzhalter img, .yt_broken img {
    height: 30px;
    margin-top: -9px;
    display: inline-block;
}
*/

.message p {
    margin-bottom: 0;
}
/*.message.new::before {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 10px;
    border-width: 5px;
    border-color: transparent;
    border-top-color: lightgray;
    border-right-color: lightgray;
}*/

.message .name {
    font-weight: bold;
    font-size: 0.8em;
}

.message .big {
    font-size: 2em;
}

.thumbnail {
    padding: 0;
    margin-bottom: 5px;
    border: none;
}
.bild img,
.video video,
.video img {
    max-height: 400px;
}
.video-filename {
    color: gray !important;
    font-size: 0.7em;
    display: inline-block;
    float: right;
    margin-left: 1em;
    margin-top: 0.4em;
}

.message .time {
    color: #bbb !important;
    font-size: 0.8em;
    margin-left: 1em;
    display: block;
    float: right;
    margin-top: 0.3em
}

.video.thumbnail {
    position: relative;
}
.play_icon {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.play {
    width:5em;
    height:5em;
    border-radius:50%;
    position:relative;
    border: 0.3em solid rgba(255,255,255,0.7);
}
.play::before {
    position: absolute;
    content: "";
    top: 1.1em;
    left: 1.7em;
    width: 0em;
    height: 0em;
    border-top: 1.2em solid rgba(44, 44, 44, 0);
    border-bottom: 1.2em solid transparent;
    border-left: 1.5em solid rgba(255,255,255,0.7);
}
