body {
    background-color: #eee;
}

small, .gray { 
    color: gray !important; 
}
h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: Arial;
}
h2, h3 { 
    margin-top: 40px; 
}
h4, h5, h6 { 
    font-size: 21px; 
    margin-top: 40px; 
}
p, div, th, td { 
    font-family: Arial; /*Times New Roman;*/
    font-size: 16px; 
}
th, td {
    vertical-align: top;
    padding: 5px;
}

.smiley {
    height: 1em; 
    max-height: 1em;
    display: inline-block;
    margin-top: -5px;
}


.day {
    background-color: #bee6f3;
    border-radius: 3px;
    border: 1px solid #abd2de;
    padding: 3px 8px;
    color: #888;
    display: inline-block;
    margin: 10px;
    font-size: 0.9em;
}

.message { 
    position: relative; 
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 1px 10px;
    padding: 5px 8px;
}
.message .id {
    font-size: 0.5em;
    color: gray;
}
.message.new {
    margin-top: 8px;
}

img.emojione {
    height: 1em; 
    max-height: 1em;
    display: inline-block;
    margin-top: -5px;
}

.message p {
    margin-bottom: 0;
}
.message.new::before {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 10px;
    border-width: 5px;
    border-color: transparent;
    border-top-color: lightgray;
    border-right-color: lightgray;
}

.message .name {
    font-weight: bold;
    font-size: 0.8em;
}

.message .big {
    font-size: 2em;
}

.thumbnail {
    padding: 0;
    margin-bottom: 5px;
    border: none;
}
.bild img {
    max-height: 400px;
}

.message .time {
    color: #bbb;
    font-size: 0.8em;
    margin-left: 1em;
}


@media print {
    a:link:after,
    a:visited:after {
        content: "" !important;
    }
    a { color: darkblue; }
    small, .gray { color: gray !important; }
    .image_broken, .yt_broken { color: darkred; }
    .yt_platzhalter { color: darkblue; }
}
